VITE_APP_URL=http://localhost:3001
VITE_DAPHNE_URL=http://localhost:3000

# Clerk
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Bugfixes
VITE_BUGFIXES_KEY=
VITE_BUGFIXES_SECRET=

# flags.gg
VITE_FLAGS_PROJECT_ID=
VITE_FLAGS_ENVIRONMENT_ID=
VITE_FLAGS_AGENT_ID=
